
.logout a{
  float: right;
  margin: 15px 2px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #F44336;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #F44336;
}
.log-reg a{
  color: #fff;
  float: right;
  margin: 15px 2px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-weight: 600;
  text-decoration: none;
}
.log-reg a:hover{
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
.fa:hover{
  color: #000!important;
}

